@using EpisodieWeb.Models.api

@{
    ViewData["Title"] = "Movie details";
}

@{
    var tvShowDetails = (TvShowExtendedEntity)ViewData["entity"];
}
<div class="background-image" style="background: url(@tvShowDetails.imageOriginal) 50% 50% no-repeat">
    &nbsp;
</div>

<div class="details-card">
    <div class="row">
        <div class="col-md-2 col-md-offset-3 image-pull-up">
            <div class="row">
                <div class="col-xs-12">
                    <img src="@tvShowDetails.imageMedium" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 details-info">
                    @if (tvShowDetails.network != null)
                    {
                        <p class="details-network">@tvShowDetails.network</p>
                    }
                    <a href="@tvShowDetails.officialSite"><p>Strona produkcji</p></a>
                </div>
            </div>

        </div>
        <div class="col-md-5 details-header">
            <h3>@tvShowDetails.name</h3>
            <p><i>@tvShowDetails.genre</i></p>
            <p>@tvShowDetails.summary</p>
        </div>
    </div>
</div>


