@using EpisodieWeb.Models.api
@using EpisodieWeb.Models.Api
@{
    ViewData["Title"] = "Home Page";
}

@{
    var mostPopular = (Pageable<TvShowEntity>)ViewData["mostPopular"];
}

@{
    var topList = (Pageable<TvShowEntity>)ViewData["topList"];
}

@{
    var lastReleases = (Pageable<TvShowPremiere>)ViewData["lastReleases"];
}
<div class="overlay-gradient">
    &nbsp;
</div>
<div class="row">
    <div class="row-header">
        <h1>Most Popular</h1>
    </div>
    <div style="clear:both"></div>
    <div class="col">
        @for (var i = 0; i < mostPopular.totalElements; i++)
        {
            <div class="inner-box">
                <a class="hvr-float hvr-grow" href="@Url.Action("detail", "home", new { id=mostPopular.content[i].tvShowApiId }, null)">
                    <img src="@mostPopular.content[i].imageMedium" />
                </a>
                <div class="mirror">
                    <div class="mirror-overlay">&nbsp;</div>
                    <img src="@mostPopular.content[i].imageMedium" />
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="row-header">
        <h1>Top 100</h1>
    </div>
    <div style="clear:both"></div>
    <div class="col top-list">
        @for (var i = 0; i <= 99; i++)
        {
            <div class="inner-box">
                <a class="hvr-float hvr-grow" href="@Url.Action("detail", "home", new { id = topList.content[i].tvShowApiId }, null)">
                    <img src="@topList.content[i].imageMedium" />
                    <div class="toplist-number">
                        <span>@(i + 1)</span>
                    </div>
                </a>
                <div class="mirror">
                    <div class="mirror-overlay">&nbsp;</div>
                    <img src="@topList.content[i].imageMedium" />
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="row-header">
        <h1>Latest Relases</h1>
    </div>
    <div style="clear:both"></div>
    <div class="col">
        @for (var i = 0; i < lastReleases.totalElements; i++)
        {
            <div class="inner-box">
                <a class="hvr-float hvr-grow" href="@Url.Action("detail", "home", new { id=lastReleases.content[i].tvShowApiId }, null)">
                    <img src="@lastReleases.content[i].imageMedium" />
                </a>
                <div class="mirror">
                    <div class="mirror-overlay">&nbsp;</div>
                    <img src="@lastReleases.content[i].imageMedium" />
                </div>
            </div>
        }
    </div>
</div>
<br />
<a href="@Url.Action("search", "home")" class="fab-search hvr-grow">
    <img src="~/images/ic_search_black_24px.svg" width="30" height="30"/>
</a>
